<div class="modal">
	<ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">Nuevo pago {{user.name}}</h1>
        <button class="button button-icon ion-chevron-down" ng-click="closeModal()"></button>
  	</ion-header-bar>
	<ion-content has-header="true" scroll="true">
		<form ng-submit="newPago(pago)">
			<div class="list list-inset">
			  <label class="item item-input">
			    <input ng-model="pago.fPago" type="text" onfocus="(this.type='date')" placeholder="Fecha Pago">
			  </label>
			  <label class="item item-input">
			    <input ng-model="pago.abono" type="tel" placeholder="Abono">
			  </label>
			  <label class="item item-input">
			    <input ng-model="pago.saldo" type="tel" placeholder="Saldo">
			  </label>
			</div>
			<div class="padding">
		        <button class="button button-block button-positive activated" type="submit">
		        	Guardar
		        </button>
		    </div>
		</form>
    </ion-content>
</div>