<ion-view title="{{user.name}}">
  <ion-content class="has-header padding has-footer">
    <ion-list>
      <div class="item col-header item-icon-right">
        <div class="flex-container wrap">
          <div ng-repeat="column in data.columns" ng-click="sortBy(column._id)">
            <div class="column" ng-class="{ 'underlined' : data.sortOn === column._id }">{{column.name}}&nbsp;</div>
            <div class="column-sort">
              <i ng-class="{'ion-chevron-up' : data.sortReverse === false, 'ion-chevron-down' : data.sortReverse === true} " ng-if="data.sortOn === column._id"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="item low-pad-item item-icon-right" ng-repeat="item in data.items | orderBy:sortData:data.sortReverse" on-hold="onHold(item.3932)" on-tap="onTap(item.3932)" style="height: 38px;">
        <div class="flex-container wrap">
          <div ng-repeat="column in data.columns">
            <div class="column">{{item[column._id]}}&nbsp;</div>
          </div>
        </div>
      </div>    
    </ion-list>

    <script id="modal-two.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="bar bar-header bar-assertive">
          <h1 class="title">Actualizar pago</h1>
          <button class="button button-icon ion-chevron-down" ng-click="cerrar()"></button>
        </ion-header-bar>
        <ion-content has-header="true" scroll="true">
          <form ng-submit="updatePago(onePago)">
            <input type="hidden" ng-model="onePago.id" value="{{onePago.id}}" />
            <div class="list list-inset">
              <label class="item item-input">
                <input ng-model="onePago.fecha_pago" value="{{onePago.fecha_pago}}" type="text" onfocus="(this.type='date')" placeholder="Fecha Pago">
              </label>
              <label class="item item-input">
                <input type="tel" ng-model="onePago.abono" placeholder="Abono" value="{{onePago.abono}}">
              </label>
              <label class="item item-input">
                <input ng-model="onePago.saldo" value="{{onePago.saldo}}" type="tel" placeholder="Saldo">
              </label>
            </div>
            <div class="padding">
              <button class="button button-block button-positive activated" type="submit">
                Actualizar
              </button>
            </div>
          </form>
          </ion-content>
      </div>
    </script>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <button ng-click="editUser(user.id)" class="button button-balanced icon-left ion-edit">Editar</button>
    <button style="margin-left:45px; margin-right:-10px;" ng-click="deleteUser(user.id)" class="button button-assertive icon-left ion-close-round">Eliminar</button>
    <button ng-click="openModal(user.id)" class="button button-positive icon-left ion-plus-round">Añadir Pago</button>
  </div>
</ion-view>